<h2>Редактирование <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p><%= f.label :username, 'Логин' %><br />
    <%= f.text_field :username %></p>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ждем подтверждения для: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, 'Пароль' %> <i>(оставьте пустым, если не хотите менять)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(введите текущий пароль для подтверждения внесения изменений)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Не нравится ресурс? <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Точно?" }, method: :delete %></p>

<%= link_to "Назад", :back %>
