<% if comment.user.present? %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <%= image_tag avatar_url(comment.user.email, 75), class: 'media-object' %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= comment.user.username %>
        <small class='rating' data-toggle='tooltip' data-placement='top' title='Оценка пользователя'>
          <%= rating_in_gems(comment.rating) %>
        </small>
        <small class='text-success'>
          <%= is_graduate?(comment) %>
        </small>
      </h4>
      <p>
        <%= comment.content %>
      </p>
    </div>
  </div>
  <hr>
<% end %>
