<div class="col-md-6">
  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
        <th colspan='2' class='text-center'>Платные курсы</th>
      </tr>
      <tr>
        <th>Название</th>
        <th>Количество учеников</th>
      </tr>
    </thead>

    <tbody>
      <% @paid_courses.each do |course| %>
        <tr>
          <td>
            <%= link_to course.title, course %>
            <span class="rating" data-toggle='tooltip' data-placement='top' title='Средний рейтинг курса'>
              <%= rating_in_gems(course.rating) %>
            </span>
          </td>
          <td>
            <%= course.users.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-6">
  <table class='table table-bordered table-hover'>
    <thead>
      <th colspan='2' class='text-center'>Бесплатные курсы</th>
      <tr>
        <th>Название</th>
        <th>Количество учеников</th>
      </tr>
    </thead>

    <tbody>
      <% @free_courses.each do |course| %>
        <tr>
          <td><%= link_to course.title, course %></td>
          <td><%= course.users.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Course', new_course_path %>
