<h1 class='text-center'><%= @type %></h1>
<div class="col-md-12">
  <div class="well">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="course_name">Название</label>
        <input type="text" class="form-control" id="course_name" name='title' placeholder="Название">
        <select class="form-control" name='language'>
          <option disabled selected>Язык курса</option>
          <option>Русский</option>
          <option>English</option>
        </select>
        <select class="form-control" name='paid'>
          <option disabled selected>Платность курса</option>
          <option value='1'>Платный</option>
          <option value='0'>Бесплатный</option>
        </select>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Применить фильтр</button>
        <%= link_to 'Сбросить фильтр', root_path, class: 'btn btn-default' %>
      </div>
    </form>
  </div>

  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
      </tr>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Язык</th>
        <th>$</th>
        <th>Отзывы</th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each.with_index(1) do |course, index| %>
        <tr>
          <td class='text-center'>
            <%= top_three(index) %>
          </td>
          <td>
            <%= link_to course.title, course %>
            <span class="rating" data-toggle='tooltip' data-placement='top' title='Средний рейтинг курса'>
              <%= rating_in_gems(course.rating) %>
            </span>
          </td>
          <td><%= course.language %></td>
          <td><%= course.paid? ? 'Платный' : 'Бесплатный' %></td>
          <td>
            <%= link_to course.comments.pluck(:graduate).count, course_path(course, anchor: 'comments') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
