<div class="clearfix">
  <div class="col-md-8">
    <p>
      <h1 class='course-title'>
        <%= @course.title %>
        <% if signed_in? %>
          <%= current_user.courses.include?(@course) ? '<i class="glyphicon glyphicon-ok" id="course-done"></i>'.html_safe : '' %>
        <% end %>
      </h1>
      <div id='<%= dom_id @course %>'>
        <% if signed_in? %>
          <% if current_user.courses.include?(@course) %>
            <%= link_to 'Я здесь не учился!', graduate_course_path(@course), class: 'btn btn-success', remote: true, method: :post %>
            <%= rating_for @course, 'score' %>
          <% else %>
            <%= link_to 'Я здесь учился!', graduate_course_path(@course), class: 'btn btn-success', remote: true, method: :post %>
          <% end %>
        <% else %>
          <a href="#" class='btn btn-success disabled' data-toggle='tooltip' data-placement='bottom' title='Сначала нужно авторизоваться'>Я здесь учился!</a>
          <%= rating_for @course, 'score', disable_after_rate: true, imdb_avg: true %>
        <% end %>
      </div>
    </p>
    <p>
      <strong>Язык курсов:</strong>
      <%= @course.language %>
    </p>

    <p>
      <%= @course.description %>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At reprehenderit, aliquid voluptatum perferendis omnis, ducimus nobis hic vitae repudiandae, tenetur ut veritatis sunt cupiditate! Neque illum consequatur ut quam impedit cum, autem iusto, praesentium cupiditate doloremque voluptatem unde sed vel, magnam fugit libero nihil veniam quis eligendi illo dolorem. Eveniet non magnam dolor, maxime quis dolores accusantium. Eveniet, voluptatibus odio maiores omnis quidem illo, animi deleniti veritatis optio, alias assumenda saepe quam possimus illum natus molestiae nobis temporibus. Pariatur quibusdam ea tenetur nulla ab aliquid reiciendis expedita in voluptatum cupiditate. Sequi voluptas laboriosam dolore totam hic neque, distinctio et, veritatis!
    </p>

    <%= link_to 'Edit', edit_course_path(@course) %> |
  </div>

  <div class="col-md-4">
    <h3>Статистика</h3>
    <p>
      <strong>Количество учеников: <%= @course.users.count %></strong>
    </p>
<!--     <p>
      <strong>Закончили курс: 20</strong>
    </p>
 -->
    <!-- <p>
      <strong>Процент завершаемости: 50</strong>
    </p> -->
    <p>
      <strong>Рейтинг: 100</strong>
    </p>
  </div>

</div>

<div class="col-md-6">
  <h3>Комментарии</h3>

  <% if @comments.any? %>
    <%= render partial: 'comments/comment', collection: @comments, locals: { course: @course } %>
  <% end %>

  <div class="well">
    <% if signed_in? %>
      <%= form_for [@course, @comment] do |f| %>
        <%= f.text_area :content, class: 'form-control' %>
        <%= f.submit 'Сохранить', class: 'btn btn-default' %>
      <% end %>
    <% else %>
      <h4>Для оставления комментариев необходимо авторизоваться</h4>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <!-- <h3>Другие курсы</h3> -->
</div>
