<div class="clearfix">
  <div class="col-md-8">
    <p>
      <h1 class='course-title h2'>
        <%= @course.title %>
        <span class="rating" data-toggle='tooltip' data-placement='top' title='Средний рейтинг курса'>
          <%= rating_in_gems(@rating) %>
        </span>
        <% if signed_in? %>
          <%= current_user.courses.include?(@course) ? '<i class="glyphicon glyphicon-ok" id="course-done"></i>'.html_safe : '' %>
        <% end %>
      </h1>
      <div id='<%= dom_id @course %>'>
        <% if signed_in? %>
          <% if current_user.courses.include?(@course) %>
            <%= link_to 'Я здесь не учился!', graduate_course_path(@course), class: 'btn btn-success', remote: true, method: :post %>
          <% else %>
            <%= link_to 'Я здесь учился!', graduate_course_path(@course), class: 'btn btn-success', remote: true, method: :post %>
          <% end %>
        <% else %>
          <a href="#" class='btn btn-success disabled' data-toggle='tooltip' data-placement='right' title='Сначала нужно авторизоваться'>Я здесь учился!</a>
        <% end %>
      </div>
    </p>
    <p>
      <strong>Язык курсов:</strong>
      <%= @course.language %>
    </p>
    <p>
      <strong>Сайт курса:</strong>
      <%= link_to @course.url, @course.url %>
    </p>

    <div class="course-description">
      <%= @course.description %>
    </div>
    <% if can? :edit, Course %>
      <%= link_to 'Редактировать', edit_course_path(@course) %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>Статистика</h3>
    <p>
      <strong>Количество учеников: <%= @course.users.count %></strong>
    </p>
    <p>
      <strong>Средняя оценка: <%= @rating || 0 %>/5</strong>
    </p>
  </div>

</div>

<div class="col-md-7">
  <h3>Комментарии</h3>

  <% if @comments.any? %>
    <%= render partial: 'comments/comment', collection: @comments, locals: { course: @course } %>
  <% end %>

  <div class="well">
    <% if signed_in? && current_user.comments.pluck(:course_id).include?(@course.id) %>
      <h4>Вы уже оставили комментарий к этому курсу</h4>
    <% elsif signed_in? %>
      <%= form_for [@course, @comment] do |f| %>
        <%= f.text_area :content, rows: 4, class: 'form-control' %>
        <br>
        <div class="col-md-6">
          <%= f.check_box :graduate %>
          <%= f.label :graduate, 'Я закончил этот курс!' %>
        </div>
        <div class="col-md-6 rate-course clearfix">
          Оценка курса:
          <% (1..5).each do |value| %>
            <label>
              <%= value %>
              <%= f.radio_button(:rating, value) %>
            </label>
          <% end %>
        </div>
        <br>
        <br>
        <%= f.submit 'Отправить', class: 'btn btn-default' %>
      <% end %>
    <% else %>
      <h4>Для оставления комментариев необходимо авторизоваться</h4>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <!-- <h3>Другие курсы</h3> -->
</div>


<% title @course.title %>
